@use "../../styles/mixins" as *;

.itemSummary {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  column-gap: 0.8rem;
  row-gap: 1rem;
  padding: 1.6rem 0;

  border-bottom: var(--border-default);

  @include media-breakpoint(768px) {
    grid-template-columns: 2fr 1fr;
  }

  &:first-of-type {
    border-top: 2px solid var(--color-text);
  }

  &:last-child {
    border-bottom: 2px solid var(--color-text);
  }
}

.itemInfo {
  display: flex;
  align-items: start;
  gap: 0.4rem;
}

.img {
  width: 40%;
}

.itemName {
  margin-bottom: 1.2rem;
}

.priceInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.4rem;

  font-size: var(--text-sm);

  @include media-breakpoint(768px) {
    font-size: var(--text-xs);
  }
}

.subtotal {
  text-align: center;

  @include media-breakpoint(768px) {
    display: none;
  }
}
