.summary {
  padding: 24px;

  background-color: var(--color-background);
  border-radius: var(--border-radius);
}

.headers {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  gap: 8px;
  padding-bottom: 8px;

  font-weight: var(--text-weight-medium);
  border-bottom: 2px solid var(--color-text);

  @media (max-width: 768px) {
    grid-template-columns: 2fr 1fr;
  }
}

.header:nth-child(2),
.header:nth-child(3) {
  text-align: center;
}

.header:nth-child(3) {
  @media (max-width: 768px) {
    display: none;
  }
}
