.noResults {
  height: calc(100dvh - 131px);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.emptyCart {
  @media (max-width: 420px) {
    font-size: var(--text-lg);
  }
}
