.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 200;

  background-color: rgba(0, 0, 0, 0.8);
}

.warningHidden {
  display: none;
}

.warningModal {
  width: 30dvw;
  padding: 16px;

  border-radius: var(--border-radius);
  background-color: var(--color-info-bg);
  color: var(--color-info-text);

  @media (max-width: 1000px) {
    width: 50dvw;
  }

  @media (max-width: 768px) {
    width: 70dvw;
  }

  @media (max-width: 400px) {
    width: 80dvw;
  }
}

.btnClose {
  display: block;
  margin-left: auto;
}

.iconX {
  width: 24px;
  height: 24px;

  stroke: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 24px 0;

  text-align: center;
}

@media (max-width: 768px) {
  .warningModal h1 {
    font-size: var(--text-lg);
  }

  .warningModal p {
    font-size: var(--text-sm);
  }
}
