.banner {
  display: flex;
  align-items: center;
  position: fixed;
  height: 35px;
  bottom: 0;

  color: var(--color-background);
  background-color: var(--color-text);
  font-size: var(--text-sm);
}

.banner span {
  margin-right: 30px;
  white-space: nowrap;
  transform: translateX(100vw);
  animation-name: scroll-to-left;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scroll-to-left {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-30vw);
  }
}
