%btn-style {
  border-radius: var(--border-radius-btn);
  font-weight: var(--text-weight-medium);
  align-self: center;
  padding: 0.8rem 1.6rem;
}

.btnScroll {
  padding: 0.5rem 1rem;
  padding: 0.8rem 1.6rem;

  color: var(--color-background);
  background-color: var(--color-text);
  border-radius: var(--border-radius-btn);

  h2 {
    @media (max-width: 430px) {
      font-size: var(--text-sm);
    }
  }
}

.btnTicket {
  &:link,
  &:visited {
    @extend %btn-style;

    align-self: center;
    justify-self: center;
    font-size: var(--text-sm);
  }
}

.btnToStore {
  &:link,
  &:visited {
    @extend %btn-style;

    font-size: var(--text-md);
    background: var(--color-theme-secondary);
  }
}

.btnToOfficial {
  &:link,
  &:visited {
    @extend %btn-style;

    background-color: var(--color-theme-secondary);
    font-size: var(--text-md);

    @media (max-width: 768px) {
      font-size: var(--text-sm);
    }
  }
}

.btnAddItem {
  @extend %btn-style;

  align-self: start;

  font-size: var(--text-md);
  border-radius: var(--border-radius-btn);
  background-color: var(--color-theme-secondary);

  @media (max-width: 768px) {
    align-self: center;
  }
}

.btnSoldOut {
  @extend .btnAddItem;
  cursor: not-allowed;
}

.checkout {
  @extend %btn-style;

  margin: 2.4rem auto;
  width: 100%;

  font-size: var(--text-md);
  background-color: var(--color-text);
  color: var(--color-background);
}
