:root {
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 32px;

  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semi-bold: 600;
  --text-weight-bold: 700;

  --color-background: #ffffff;
  --color-bg-secondary: #e9ecef;
  --color-text: #000000;
  --color-text-secondary: #868e96;
  --color-theme-primary: #f5b804;
  --color-theme-secondary: #e44335;
  --color-theme-tertiary: #4280ef;
  --color-border: #d6dae3;

  --base-unit: max(0.5px, 1/1800 * 100vw);
  --border-default: 1px solid var(--color-border);
  --border-radius: calc(var(--base-unit) * 32);
  --border-radius-btn: 9999px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Rethink Sans", sans-serif;
  background-color: var(--color-text);
  color: var(--color-text);
}

button {
  border: none;
  background: none;
  color: var(--color-text);
  font-family: "Rethink Sans", sans-serif;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--text-weight-medium);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: calc(100dvh - 35px);
  padding: 2px;
}
