.song {
  width: 100%;
}

.song:link,
.song:visited,
.song:hover,
.song:active {
  color: var(--color-text);
  text-decoration: none;
}

.song img {
  width: 100%;
  margin-bottom: 16px;
}

.song h2,
.song div {
  white-space: nowrap;
}
