.sizeOptions label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;

  border: var(--border-default);
  border-radius: 3px;
  cursor: pointer;
}

.sizeOptions label > input[type="radio"] {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.sizeOptions {
  display: flex;
  gap: 10px;
}

.optionSelected {
  background-color: var(--color-theme-tertiary);
  border-color: var(--color-theme-tertiary);
  color: var(--color-button-text);
}

.optionUnavail {
  background: rgba(212, 212, 212, 0.4);
  cursor: not-allowed;
}

.name {
  margin-bottom: 8px;
}
