.quantitySelector {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btnQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: var(--border-radius-btn);
  background: var(--color-theme-primary);
}

.icon {
  width: 20px;
  height: 20px;
}

.iconSmall {
  width: 16px;
  height: 16px;
}

.name {
  margin-bottom: 8px;
}
