.mainText {
  z-index: 100;
  padding: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.7);
  background-color: var(--color-info-bg);
  color: var(--color-background);
  box-shadow: #0000004d 2px 0px 15px 5px;
  font-size: 2rem;
  letter-spacing: 1px;
  z-index: 300;
}

.sunglasses {
  top: 7%;
  left: 1.5%;
  width: 25%;
}

.timesSquare {
  right: 0%;
  bottom: 1%;
  width: 25%;
}

.lollapalooza {
  right: 8%;
  top: 4%;
  width: 20%;
}

.silverFullshot {
  right: 25%;
  top: 13%;
  width: 18%;
}

.silverUpperBody {
  left: 40%;
  top: 9%;
  width: 18%;
  z-index: 200;
}

.red {
  left: 5%;
  bottom: 7%;
  width: 24%;
}

.hoodie {
  left: 40%;
  bottom: 5%;
  width: 18%;
  z-index: 200;
}

.vinyl {
  left: 28%;
  top: 6%;
  width: 10%;
}

.lonelyDancers {
  right: 30%;
  bottom: 18%;
  width: 17%;
  z-index: 100;
}

.textBox {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--color-info-bg);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 4px 0px;
}

.text {
  margin: 0px;
  color: #3b3b3b;
}

.lyricsAlleyRose {
  padding: 10px;
  bottom: 43%;
  right: 5%;
}

.lyricsLonelyDancers {
  padding: 10px 20px;
  top: 17%;
  left: 20%;
}

.lyricsBourgeoisieses {
  padding: 30px 20px;
  top: 30%;
  left: 18%;
  font-size: var(--text-sm);
}

.lyricsFaintedLove {
  padding: 20px 25px;
  bottom: 18%;
  left: 23%;
  font-size: var(--text-sm);
}

.lyricsNeverEndingSong {
  padding: 10px;
  top: 35%;
  right: 0.5%;
  font-size: var(--text-sm);
  z-index: 200;
}

.link {
  padding: 10px;
  bottom: 37%;
  right: 23%;
  font-size: 1.4rem;
  z-index: 200;
  font-weight: var(--text-weight-medium);
  color: #0000ee;
  z-index: 400;
}

.link a:visited {
  color: #0000ee;
}

@media (max-width: 965px) {
  .sunglasses,
  .timesSquare,
  .lollapalooza,
  .silverFullshot,
  .red,
  .hoodie,
  .vinyl,
  .silverUpperBody,
  .lonelyDancers {
    width: 20%;
  }

  .sunglasses,
  .timesSquare {
    width: 30%;
  }

  .red {
    width: 40%;
  }

  .vinyl {
    width: 15%;
  }

  .silverUpperBody {
    width: 20%;
  }

  .lonelyDancers {
    width: 18%;
    right: 25%;
  }

  .lyricsAlleyRose {
    bottom: 35%;
    right: 1%;
    font-size: var(--text-sm);
  }

  .lyricsNeverEndingSong {
    top: 23%;
  }
}

@media (max-width: 750px) {
  .mainText {
    font-size: var(--text-lg);
  }

  .lonelyDancers {
    width: 20%;
    bottom: 13%;
  }

  .lyricsAlleyRose {
    bottom: 33%;
  }

  .lyricsFaintedLove {
    bottom: 2%;
    left: 1%;
  }
}

@media (max-width: 665px) {
  .mainText {
    font-size: 1.3rem;
  }

  .silverFullshot {
    width: 25%;
  }

  .red {
    width: 50%;
  }

  .link {
    font-size: 1.2rem;
    bottom: 38%;
  }
}

@media (max-width: 600px) {
  .sunglasses {
    width: 60%;
    top: 40px;
  }

  .timesSquare {
    width: 60%;
    bottom: 10%;
  }

  .lollapalooza {
    right: 1%;
    width: 30%;
  }

  .silverFullshot {
    top: 30%;
    right: 6%;
    width: 30%;
  }

  .red {
    width: 50%;
    bottom: 1%;
  }

  .hoodie {
    width: 35%;
    bottom: 33%;
    left: 7%;
    z-index: 0;
  }

  .vinyl {
    display: none;
  }

  .silverUpperBody {
    top: 20%;
    left: 45%;
  }

  .lonelyDancers {
    display: none;
  }

  .lyricsAlleyRose {
    bottom: 30%;
    right: 30%;
  }

  .lyricsLonelyDancers {
    left: 50%;
  }

  .lyricsBourgeoisieses {
    top: 40%;
    left: 5%;
  }

  .lyricsFaintedLove {
    left: 0%;
    bottom: -1%;
  }

  .lyricsNeverEndingSong {
    top: 30%;
    right: 2%;
  }

  .link {
    font-size: var(--text-sm);
    bottom: 39%;
    right: 15%;
  }

  .lyricsAlleyRose,
  .lyricsLonelyDancers,
  .lyricsBourgeoisieses,
  .lyricsFaintedLove,
  .lyricsNeverEndingSong,
  .text6 {
    font-size: var(--text-xs);
    padding: 1%;
  }

  .lyricsLonelyDancers {
    z-index: 200;
  }
}

@media (max-width: 460px) {
  .mainText {
    font-size: var(--text-sm);
  }
}
