.shoppingCart {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  gap: 100px;
  padding: 100px 50px 0px 50px;
  margin-bottom: 50px;
}

.emptyShoppingCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.itemSummary > thead tr {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  gap: 10px;
  border-bottom: 3px solid var(--color-border);
}

.itemSummary > thead tr th {
  text-align: center;
  font-weight: var(--text-weight-regular);
}

.itemSummary > thead tr th:first-child {
  text-align: left;
}

.itemSummary > tbody tr {
  border-bottom: 0.7px solid rgba(214, 218, 227, 0.5);
}

.itemSummary > tbody tr:last-child {
  border-bottom: 3px solid var(--color-border);
}

.orderSummary {
  height: 150px;
}

.orderSummary > thead tr {
  border-bottom: 3px solid var(--color-border);
}

.orderSummary > thead tr th {
  text-align: left;
  font-weight: var(--text-weight-regular);
}

.orderSummary > tbody tr {
  border-bottom: 0.7px solid rgba(214, 218, 227, 0.5);
}

.orderSummary > tbody tr:nth-child(2) {
  border-bottom: 3px solid var(--color-border);
}

.itemInCart {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 150px;
  gap: 10px;
  padding: 20px 0px 20px 0px;
}

.itemInCart > .itemInfo {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.itemInCart .titlePrice > div {
  margin-bottom: 5px;
}

.itemInCart > td > img {
  display: flex;
  width: 80%;
}

.itemInCart > :global(.quantity-selector) {
  display: flex;
  justify-content: center;
}

.itemInCart :global(.quantity-selector) > div {
  display: flex;
}

.itemInCart :global(.quantity-selector) > div > span {
  height: 30px;
  padding: 5px;
}

.itemInCart :global(.quantity-selector) :global(.btn-quantity) {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 9999px;
  color: var(--color-button-bg);
  background: none;
  cursor: pointer;
  padding: 1px 3px 1px 3px;
}

.itemSubtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnToCheckout button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: var(--color-theme-secondary);
  color: var(--color-button-text);
  font-size: var(--text-md);
  border: none;
}

@media (max-width: 768px) {
  .shoppingCart {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 80px 20px 0px 20px;
    font-size: var(--text-sm);
  }

  .itemInCart {
    gap: 10px;
  }

  .itemInCart .quantity-selector > div > span {
    height: 25px;
    padding: 5px;
  }
}
