.productDetailPage {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  overflow-y: scroll;

  border-radius: var(--border-radius);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;

  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.imgContainer img {
  width: 100%;
}

.productDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;

  border-radius: var(--border-radius);
  background-color: var(--color-background);
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.productDetail h1 {
  font-size: var(--text-xl);
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .productDetailPage {
    display: grid;
    grid-template-columns: 1fr;
  }

  .productDetail {
    gap: 64px;
  }

  .productDetail h1 {
    font-size: var(--text-lg);
    text-align: center;
  }

  .detailContainer {
    justify-content: center;
    align-items: center;
  }
}
