.searchCity h1 {
  margin-bottom: 8px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.searchCity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.searchCity .searchField {
  width: 300px;
  height: 40px;
  padding-left: 10px;

  border: none;
  border-radius: var(--border-radius-btn);
  background-color: var(--color-bg-secondary);
  font-size: 16px;

  @media (max-width: 768px) {
    width: 250px;
  }
}

.searchField:hover {
  cursor: text;
}

.searchField:focus {
  outline: none;
}
