.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.pagination a {
  text-decoration: none;
}

.pagination button {
  display: flex;
  justify-content: center;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: var(--text-lg);
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .pagination {
    gap: 5px;
  }
}
