.product {
  display: flex;
  align-items: center;
  border-bottom: var(--border-default);
  border-right: var(--border-default);
  cursor: pointer;
}

.product:nth-child(3n) {
  border-right: none;
}

.productImgContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.productImgContainer img {
  width: 100%;
  height: 100%;
  transition: scale 0.5s;
}

.product:hover img {
  scale: 1.1;
}

.productInfo {
  margin-top: 7px;
  padding: 0px 10px 0px 10px;
}

.productInfo div {
  text-align: center;
  margin-bottom: 7px;
}

.productTitlePrice {
  margin-top: 5px;
  font-size: var(--text-md);
}

@media (max-width: 768px) {
  .product {
    font-size: var(--text-xs);
  }

  .product:nth-child(3n) {
    border-right: var(--border-default);
  }

  .product:nth-child(2n),
  .product:nth-child(6n) {
    border-right: none;
  }

  .productImgContainer {
    width: 60%;
    margin-top: 5px;
  }

  .productInfo {
    margin-top: 0;
  }

  .productTitlePrice {
    margin-top: 3px;
    font-size: var(--text-xs);
    line-height: 1.6;
  }
}
