.tour {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-rows: 70px;
  gap: 48px;
  padding: 10px;

  border-bottom: var(--border-default);
}

.tourDate {
  margin-bottom: 4px;

  font-weight: var(--text-weight-semi-bold);
  font-size: var(--text-md);
}

.tour:first-child {
  border-top: var(--border-default);
}

.tour:nth-child(3n - 2) button {
  background: var(--color-theme-tertiary);
}

.tour:nth-child(3n - 1) button {
  background: var(--color-theme-primary);
}

.tour:nth-child(3n) button {
  background: var(--color-theme-secondary);
}

.venue,
.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 650px) {
  .tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 15px;
  }

  .venue,
  .city {
    text-align: center;
  }
}
