:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.2rem;
  --text-lg: 1.5rem;
  --text-xl: 3rem;
  --text-weight-regular: 400;
  --text-weight-medium: 500;
  --text-weight-semi-bold: 600;
  --text-weight-bold: 700;
  --color-emphasis: #222222;
  --color-secondary: #4a4a4a;
  --color-tertiary: #7e7d7d;
  --color-tertiary-bg: #f7f8ff;
  --color-primary: #235cf3;
  --color-primary-bg: #d5e0fe;
  --color-warning: #d45a35;
  --color-info: #f5b804;
  --color-light: #fbfbfd;
  --color-border: #d6dae3;
  --grid-rows-lg: 40px calc(100vh - 40px);
  --grid-rows-sm: 40px calc(100vh - 40px) 0px;
  --grid-rows-sm-alter: 40px 0px calc(100vh - 40px);
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;
  color: #f7f7f7;
  font-family: "Roboto Flex", sans-serif;
  font-size: 17px;
}

.info-banner {
  display: flex;
  align-items: center;
  position: fixed;
  height: 35px;
  bottom: 0;
  overflow-x: hidden;
  background-color: var(--color-light);
  color: var(--color-emphasis);
}

.info-banner span {
  margin-right: 30px;
  white-space: nowrap;
  transform: translateX(100vw);
  animation-name: scroll-to-left;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scroll-to-left {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-30vw);
  }
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #f7f7f7;
  background-color: black;
}

nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 20px;
  list-style-type: none;
}

nav ul li {
  display: flex;
  cursor: pointer;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main-page h4 {
  margin: 10px;
}

img {
  width: 70vw;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.tour-page {
  padding-top: 70px;
}

.tour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid var(--color-border);
}

.tour span {
  text-align: right;
}

.music-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.merch-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  cursor: pointer;
}

.item img {
  width: 70%;
  transition: width 0.5s;
}

.item:hover img {
  width: 75%;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.category:first-child {
  border-right: 1px solid var(--color-border);
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #f7f7f7;
  height: 35px;
}

.filters a {
  text-decoration: none;
  color: #f7f7f7;
}

.filters span {
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.song-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.song {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.song img {
  width: 90%;
}

.song h3 {
  margin: 0;
  white-space: nowrap;
}

.song button {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #f7f7f7;
}

nav a:visited {
  color: #f7f7f7;
}

/* @media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 40px calc(100vh - 140px) 100px;
  }

  .info-banner {
    grid-column: 1/2;
    order: 1;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    order: 3;
    font-size: 10px;
  }

  main {
    order: 2;
  }

  .main-page {
    display: block;
  }
} */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pt-35 {
  padding-top: 35px;
}

.pb-50 {
  padding-bottom: 50px;
}

.nav-clicked {
  color: #f5b804;
  margin-right: 5px;
  width: 15px;
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul .social-link a {
  color: #f7f7f7;
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-page img {
  width: 50%;
}
