.currentPage:link,
.currentPage:visited,
.currentPage:hover,
.currentPage:active {
  color: var(--color-text);
}

.pageNum:link,
.pageNum:visited,
.pageNum:hover,
.pageNum:active {
  text-decoration: none;
  color: var(--color-text-secondary);
}
