.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 2px;
  height: 45px;

  border-radius: var(--border-radius);
  background-color: var(--color-background);
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconArrow {
  width: 20px;
  height: 20px;
  stroke: var(--color-text);
}

.iconHidden {
  display: none;
}
