.productCard {
  padding: 20px;
  height: 35vw;

  border-radius: var(--border-radius);
  background-color: #fff;
  cursor: pointer;

  @media (max-width: 1100px) {
    height: 60vw;
  }
}

.productCard:hover .productImg {
  scale: 1.05;
}

.productLink:link,
.productLink:visited,
.productLink:hover,
.productLink:active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100%;

  color: var(--color-text);
}

.productImg {
  width: 80%;
  transition: scale 0.5s;
}

.productInfo {
  flex: 1;

  text-align: center;
  font-size: var(--text-md);
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: var(--text-sm);
  }

  @media (max-width: 400px) {
    font-size: var(--text-xs);
  }
}

.extraInfo {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .productCard {
    padding: 12px;
    height: 63vw;
  }

  .productImg {
    width: calc(100vw / 3);
  }
}
